.homecontainer{
    margin-top: 1rem;
    margin-bottom:  1rem;
    margin-right:1rem ;
    margin-left: 12rem;
    border-radius: .4rem;
    padding: 1rem;
    background-color: #e9f9ff;
    max-height: 95vh;
    overflow-y: scroll;   
}