.allProduct {
  margin-left: 10rem;
  padding: 1rem;
}
.image_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 1rem;
}
.heading {
  font-weight: 500;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
@media (max-width: 520px) {
  .allProduct {
    margin-left: 0;
  }
}
