.alluserContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 12rem;
  border-radius: 0.4rem;
  padding: 1rem;
  max-height: 95vh;
  overflow-y: scroll;
}

.allusersubContainer {
  display: flex;
}
.table {
  border-collapse: collapse;
}
.data {
  padding: 2px 10px;
}
