.image {
  object-fit: cover;
}
.subimage {
  object-fit: contain;
}
.main_image_container {
  aspect-ratio: 5/3;
  position: relative;
}
.sub_image_container {
  aspect-ratio: 5/3;
  position: relative;
  flex-grow: 1;
}
.banner {
  width: 70%;
  margin: 3rem auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 6fr 2fr;
  align-items: end;
}
.mainImage {
  padding: 0.5rem;
}
.subImageContainer {
  display: flex;
  flex-direction: column;
}
.slider {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .banner {
    grid-template-columns: 1fr;
  }
  .sub_image_container {
    flex-direction: row;
  }
}
