.image {
  object-fit: cover;
}
.subimage {
  object-fit: contain;
}
.main_image_container {
  aspect-ratio: 5/3;
  position: relative;
  width: 100%;
}
.sub_image_container {
  aspect-ratio: 5/3;
  position: relative;
  flex-grow: 1;
}
.banner {
  width: 72%;
  margin: 1rem auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 6fr 2fr;
  align-items: end;
  gap: 5px;
}

.subImagecontainer {
  display: flex;
  flex-direction: column;
}
.slider {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .subImagecontainer {
    gap: 5px;
    flex-direction: row;
  }
  .banner {
    width: 100%;
    padding: 0 10px;
  }
}
