.header {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-bottom: 10px;
}
.carousel_wrapper {
  width: 82%;
  margin: 1rem auto;
}
.title {
  font-weight: 500;
}
.view_more {
  background-color: inherit;
  border: none;
  margin-left: auto;
  border-bottom: 1px solid black;
}
.view_more:hover {
  cursor: pointer;
  color: #2457aa;
  border-color: #2457aa;
}
.button_wrapper {
  display: flex;
  margin: 1rem 0 2rem 0;
}
.yellow {
  color: rgb(253, 253, 31);

  font-size: 1.7rem;
}
@media (max-width: 500px) {
  .carousel_wrapper {
    width: 100%;
    padding: 0 10px;
  }
}
