.header {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-bottom: 10px;
}
.carousel_wrapper {
  width: 82%;
  margin: 1rem auto;
}
.title {
  font-weight: 500;
}
.slider {
  background-color: white;
  padding: 1rem 1rem;
}
.yellow {
  color: rgb(253, 253, 31);

  font-size: 1.7rem;
}
