.img {
  object-fit: cover;
}
.item_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e2e8f0;
  padding: 2rem;
  flex-grow: 3;
  border-radius: 10px;
  border: 1px rgba(99, 99, 99, 0.2) solid;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.summary {
  flex-grow: 1;
  color: white;
  background: #2457aa;
  align-self: flex-start;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cart {
  width: 82%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.cartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  /* width: 30vw; */
  border: 2px solid hsla(0, 0%, 62%, 0.2);
  position: relative;
}
.item:hover {
  border-color: #ffb327;
}
.item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  padding: 0.3rem 0.6rem;
  background-color: white;
  border: 1px solid #d1d5db;
  border-right: none;
  cursor: pointer;
  margin-top: 1rem;
}
.button_end {
  border-right: 1px solid #d1d5db;
  border-radius: 0 5px 5px 0;
}
.button_start {
  border-radius: 5px 0 0 5px;
}
.deletebutton {
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: -30px;
  padding: 1rem;
}

.st_line {
  width: 100%;
  height: 1px;
  background: #d3d2d6;
  margin-bottom: 0.7rem;
}
.summary_heading {
  margin-bottom: 0.7rem;
}

.cartprimaryheading {
  font-size: 1.5rem;
  font-weight: 300;
  color: #6c6c6c;
}
.button_group {
  display: flex;
  flex-direction: column-reverse;
}

.discounttext {
  font-size: 1rem;
  font-weight: 500;
  color: #a1a1a1;
  margin-right: 0.4rem;
}

.realprice {
  /* font-size: 1.3rem; */
  font-weight: 500;
  color: #2457aa;
  display: flex;
  flex-direction: column-reverse;
}
.imagetextcart {
  position: relative;
  /* background-color: green; */
  display: flex;
  width: 7rem;
  aspect-ratio: 3/4;
  gap: 1rem;
}
.carttitle {
  max-width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}

.headingContainer {
  padding: 1rem;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(180, 180, 180, 0.385);
}

.subtotalPrimary {
  font-weight: 700;
  font-size: 0.9rem;
}

.subtotalSecondary {
  font-weight: 700;
  font-size: 0.9rem;
}

.shipping {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(180, 180, 180, 0.385);
}

.shippingPrimary {
  font-weight: 700;
  font-size: 0.9rem;
}

.shippingSecondary {
  font-weight: 700;
  font-size: 0.9rem;
}

.tax {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(180, 180, 180, 0.385);
}

.taxPrimary {
  font-weight: 700;
  font-size: 0.9rem;
}

.taxSecondary {
  font-weight: 700;
  font-size: 0.9rem;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  color: black;
  border-bottom: 2px solid rgba(180, 180, 180, 0.385);
}

.totalPrimary {
  font-weight: 700;
  font-size: 0.9rem;
}

.totalSecondary {
  font-weight: 700;
  font-size: 0.9rem;
}

.submitProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 3rem;
}

.checkoutbutton {
  padding: 1rem;
  width: 100%;
  background-color: #ffb327;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}
.checkoutesewa {
  padding: 1rem;
  width: 100%;
  background: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.delete_icon {
  font-size: 2rem;
  color: grey;
}
.being_deleted {
  opacity: 0.4;
}
