.image {
  padding-top: 1rem;
  width: 10rem;
  height: 11rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}
.category {
  background-color: #fff;
}
.align {
  text-align: center;
  font-weight: 400;
  padding: 1rem 0;
}
.category_item {
  width: 10rem;
}
.yellow {
  color: rgb(253, 253, 31);

  font-size: 1.7rem;
}
.title {
  font-weight: 500;
}
.header {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-bottom: 10px;
}
.category_wrapper {
  width: 82%;
  margin: 5rem auto;
}
