.categoriesProducts_wrapper {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}
.categoriesProducts {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

  justify-items: start; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.heading {
  font-weight: 400;
}
.category_info {
  display: flex;
  justify-content: space-between;
}
.button_grp {
  text-align: center;
  margin: 1rem 0;
}
.button {
  padding: 5px;
  border: 1px solid grey;
}
.button:hover {
  cursor: pointer;
  background-color: grey;
}
@media (max-width: 796px) {
  .categoriesProducts_wrapper {
    width: 100%;
    padding: 1rem;
  }
}
/* @media (max-width: 1090px) {
  .categoriesProducts {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
} */
