.no_show {
  height: 0;
  transform: scaleY(0);
  list-style-type: none;
}
.show {
  height: 100%;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 200ms ease-in-out;
  list-style-type: none;
}
.heading {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.heading:hover {
  cursor: pointer;
}
.icon_cat.icon_cat {
  transform: translateY(25%);
  margin-right: 5px;
}
.li {
  text-align: center;
}
