.nav {
  color: #ffffff;
  position: relative;
}
.upper_nav {
  display: flex;
  width: 100%;
  padding: 0 9%;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  background: #2457aa;
}
.icon_wrapper {
  width: 40%;
  position: relative;
}
.input,
.input_hidden {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid grey;
}
.input:focus {
  outline: none;
}
.search_button,
.search_button_hidden {
  color: #ffffff;
  padding: 0.3rem 1.2rem;
  margin-right: 3px;
  border: 1px solid grey;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #151515;
}
.navigate_icons {
  display: flex;
  gap: 1.2rem;
}
.input_hidden {
  width: 100%;
}

.search_container_child {
  width: 70%;
  position: relative;
}
.search_container {
  color: black;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #eff0f5;
}
.icons {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: inherit;
  border: none;
}
.rippet_logo {
  width: 6.5rem;
  height: 7rem;
  object-fit: contain;
}
.lower_nav {
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0;
  padding-left: 9%;
  background: #1f4c94;
  font-size: small;
}
.first_element {
  display: flex;
  gap: 10px;
}
.icon {
  font-size: 1.2rem;
}
.navbar_icons {
  font-size: 1.2rem;
}

.Linktext {
  display: flex;
  margin-left: auto;
  gap: 1.5rem;
  margin-right: 9%;
}
.textStlingLink {
  font-size: 1rem;
  font-weight: 500;
}
.textStlingLink:hover {
  cursor: pointer;
  color: yellow;
}
.cart_no {
  position: absolute;
  top: -1rem;
  right: -1.3rem;
  background-color: #ffb327;
  padding: 7px;
  border-radius: 1rem;
  width: 2rem;
}
.relative {
  position: relative;
}
.menu_button {
  display: none;
}
.hidden_menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eff0f5;
  color: black;
}
.hidden_flex {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 1rem;
  align-items: center;
}
.menu_button_close {
  position: fixed;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  top: 10px;
  color: black;
  right: 10px;
}
.menu_button_close:hover {
  cursor: pointer;
}
.search_button_separate {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 1.1rem;
  display: none;
}
.search_container {
  display: none;
}
@media (max-width: 796px) {
  .lower_nav,
  .search_button,
  .input,
  .search_container {
    display: none;
  }
  .menu_button,
  .search_button_separate {
    display: block;
  }
  .search_container {
    display: flex;
  }
  .menu_button:hover {
    cursor: pointer;
  }
}
