.nav {
  color: #ffffff;
  position: relative;
}
.upper_nav {
  display: grid;
  width: 100%;
  padding: 0 9%;
  padding-bottom: 1rem;
  grid-template-columns: 1fr 1.5fr 1fr;
  background: #2457aa;
  justify-items: center;
  align-items: center;
}
.icon_wrapper {
  width: 100%;
  position: relative;
}
.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid grey;
}
.input:focus {
  outline: none;
}
.search_button
/* .search_button_hidden */ {
  color: #ffffff;
  padding: 0.3rem 1.2rem;
  margin-right: 3px;
  border: 1px solid grey;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #151515;
}
.navigate_icons {
  /* margin-left: auto; */
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: inherit;
  border: none;
}
.rippet_logo_parent {
  justify-self: start;
}
.rippet_logo {
  width: 6.5rem;
  height: 7rem;
  object-fit: contain;
}
.lower_nav {
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0;
  padding-left: 9%;
  background: #1f4c94;
  font-size: small;
}
.first_element {
  display: flex;
  gap: 10px;
}
.icon {
  font-size: 1.2rem;
}
.navbar_icons {
  font-size: 1.5rem;
}

.Linktext {
  display: flex;
  margin-left: auto;
  gap: 1.5rem;
  margin-right: 9%;
}
.textStlingLink {
  font-size: 1rem;
  font-weight: 500;
}
.textStlingLink:hover {
  cursor: pointer;
  color: #ffb327;
}

.cart_no,
.notification_no {
  position: absolute;
  top: -0.5rem;
  right: 0;
  font-size: 1rem;
  color: #ffb327;
}
.relative {
  position: relative;
}
.menu_button {
  display: none;
}
.hidden_menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eff0f5;
  color: black;
}
.hidden_flex {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 1rem;
  align-items: center;
}
.menu_button_close {
  position: fixed;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  top: 10px;
  color: black;
  right: 10px;
}
.menu_button_close:hover {
  cursor: pointer;
}
.search_button_separate {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 1.1rem;
  display: none;
}

.myControlClassName {
  background-color: #1f4c94;
  color: white;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  transition: 1s;
}
.myClassName {
  font-size: 1.1rem;
}
.myArrowClassName {
  color: white;
}
.arrow {
  color: white;
  font-size: 1rem;
}

.myMenuClassName::-webkit-scrollbar {
  width: 1px;
  padding: 0.1rem;
  font-size: 0.1rem;
}

/* Track */
.myMenuClassName::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.myMenuClassName::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.myMenuClassName::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.drop_menu {
  position: relative;
}
.dropdown_same {
  position: absolute;
  width: 15rem;
  background-color: white;
  left: 0;
  top: 31px;
  color: black;
  border: 1px solid #1f4c94;
  border-top: none;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  transform: translateX(-25%);
  z-index: 2;
  overflow: hidden;
  transition: max-height 1s ease;
}
.dropdown_item {
  margin: 10px;
  font-weight: 500;
}
.dropdown_item:hover {
  cursor: pointer;
  color: blue;
}
.dropdown_disable {
  max-height: 0;
  /* border: none; */
}
.dropdown_enable {
  max-height: 25rem;
}
.ham_icon {
  margin-right: 1rem;
  transform: translateY(20%);
}

.user_info_heading {
  font-weight: 400;
  font-size: medium;
}
.drop_down_user_info_heading {
  font-weight: 300;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 5px;
}
.drop_down_user_info_heading:hover {
  background-color: #ffb327;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
}
.DropdownMenuItem {
  outline: none;
}
.user_info:hover {
  cursor: pointer;
}
.user_info_heading:hover {
  color: #ffb327;
}

.dropDown_heading {
  text-align: center;
  width: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dropDown_wrapper {
  position: absolute;
  top: 2rem;
  left: -1.8rem;
}
.notification_dropdown_wrapper {
  position: absolute;
  top: 2rem;
  left: -4.2rem;
}

@media (max-width: 796px) {
  .lower_nav {
    display: none;
  }
  .upper_nav {
    row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .icon_wrapper {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .menu_button,
  .search_button_separate {
    display: block;
  }

  .menu_button:hover {
    cursor: pointer;
  }
}
