.search {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.wrapper {
  width: 100%;
}

.button_grp {
  text-align: center;
  margin: 1rem 0;
}
.button {
  background-color: white;
  padding: 5px 8px;
  border: 1px solid #d1d5db;
  border-right: none;
  font-size: medium;
}
.button_start {
  /* border-radius: 5px 0 0 5px; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button_end {
  /* border-radius: 0 5px 5px 0; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #d1d5db;
}
.button:hover {
  cursor: pointer;
  outline: 1px solid #2457aa;
  outline-offset: -1px;
}
.active {
  background-color: #2457aa;
  border-color: #2457aa;
  color: white;
}
.sort {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.select {
  padding: 5px 8px;

  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}
/* .select:focus {
  background-color: #2457aa;
  color: white;
} */
.option:focus {
  background-color: #2457aa;
  color: white;
}
.wrap {
  display: flex;
  color: #ffb327;
}
.center {
  margin: 0 auto;
  border-bottom: 1px dotted black;
}
@media (max-width: 740px) {
  .search {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 550px) {
  .search {
    grid-template-columns: repeat(2, 1fr);
  }
}
