.image_wrapper {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}
.img {
  transition: transform 400ms ease-in;
}
.card:hover img {
  transform: scale(1.1);
}
.card {
  width: 100%;
  max-width: 13rem;
  position: relative;
  outline: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 1rem;
  background-color: #0e0e0f;
  color: white;
}
.title {
  margin-top: 0.5rem;
  font-weight: 500;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.price {
  color: rgb(42, 42, 245);
}
.strike {
  color: #0e0e0f;
}
.cart {
  border: 1px solid rgb(185, 185, 185);
  height: 2.5rem;
  width: 85%;
  margin: 0 auto 0 auto;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  transition: background-color, color 700ms ease-in-out;
}

.cart:hover {
  background-color: #2457aa;
  color: white;
  border: none;
}
.added,
.loading_spinner {
  background-color: #2457aa;
  color: white;
  border: none;
}
