.pop_up {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000063;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop_up_child {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, 60%, 30rem);
  background-color: white;
  padding: 1rem;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.image {
  width: 13rem;
  aspect-ratio: 3/4;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.button_group {
  display: flex;
  width: 100%;
}
.buttons {
  width: 50%;
  padding: 0 0.7rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.39);
}
.cancel {
  background-color: #fff44f;
}
.delete {
  background-color: #fd5c63;
}
.buttons:hover {
  cursor: pointer;
}
.icons {
  font-size: 1.2rem;
}
.desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.heading {
  font-weight: 500;
}
.heading span{
  color: #2457aa;
}
.delete_loader {
  justify-content: center;
}
