.image_wrapper {
  overflow: hidden;
}
.img {
  width: 13rem;
  height: 15rem;
  object-fit: cover;
  transition: transform 400ms ease-in;
}
.card:hover img {
  transform: scale(1.1);
}
.card {
  position: relative;
  outline: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.discount {
  position: absolute;
  top: 0;
  padding: 0.2rem 1rem;
  background-color: #0e0e0f;
  color: white;
}
.title {
  margin-top: 0.5rem;
  font-weight: 500;
}
.price {
  color: rgb(42, 42, 245);
}
.strike {
  color: #0e0e0f;
}
.cart {
  border: 1px solid rgb(185, 185, 185);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  width: 75%;
  margin: 0 auto 0 auto;
  color: grey;
}
.cart:hover {
  color: black;
  border-color: black;
}
