.container {
  display: grid;
  place-items: center;
}
/* .title {
  align-self: center;
  font-weight: 400; */
/* } */

.black {
  color: black;
  font-weight: 600;
}

.img {
  object-fit: cover;
}
.image_container {
  position: relative;
  width: 7rem;
  aspect-ratio: 3/4;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box {
  width: 82%;
  margin: 2rem auto;
  /* background-color: #eff6ff; */
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  align-items: flex-start;
  gap: 2rem;
  /* border-radius: 10px; */
  /* border: 1px rgba(99, 99, 99, 0.2) solid;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.item {
  display: flex;
  width: 100%;
  gap: 2rem;
  background-color: #f9fafb;
  padding: 1rem;

}
.grey{
  color: #67696d;
}

.main_info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main_info:hover {
  color: #1f4c94;
}
.answer_wrapper {
  background-color: white;
  border: 1px rgba(99, 99, 99, 0.2) solid;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 1rem;
}
.blue {
  color: #1f4c94;
}
.red {
  color: #ef4444;
}
.reply {
  color: black;
}
.tara {
  color: #ffd106;
  font-size: 1rem;
}
.no_tara {
  color: rgb(123, 125, 133);
  font-size: 1rem;
}
.name{
  font-weight: 600;
}

.date{
  color: #67696d;

}
@media screen and (max-width: 530px) {
  .box {
    width: 100%;
    margin: 0;
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
  }
  .answer_wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .item {
    gap: 1rem;
  }
}
