.review {
  width: 82%;
  margin: 1rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.name {
  margin-bottom: 0.4rem;
  font-weight: 300;
}

.reviewPrimaryContainer {
  display: flex;
  gap: 2rem;
  border-bottom: 2px solid rgb(222, 222, 222);
  padding-bottom: 1rem;
}
.reviewsummary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.averageratingwriitem {
  font-size: 2rem;
}

.averageRating {
  font-size: 3rem;
}

.totalrating {
  color: rgb(214, 214, 214);
}

.reviewInputContainer {
  min-width: 12rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.is_deleting {
  opacity: 0.4;
}
.reviewinput {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(222, 222, 222);
}

.reviewbutton {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}
.reviewbutton:hover {
  background-color: #2457aa;
  color: white;
  border: 1px solid #2457aa;
}
.loading_spinner {
  display: flex;
  background-color: #2457aa;
  color: white;
  align-items: center;
  justify-content: center;
}
.createreviewicon {
  font-size: 2.3rem;
  width: 2rem;
}
.reviewprimaryheading {
  font-size: 1.5rem;
  font-weight: 300;
  color: #6c6c6c;
}

.allreviewcontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.noreview {
  display: flex;
  justify-content: center;
}
.review_button_delete {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 0.3rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
}
.review_button_delete:hover {
  cursor: pointer;
  background-color: #ef44449f;
}

.noreviewtext {
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  .review {
    padding: 0;
    width: 90%;
  }
}
