.item {
  margin: 1rem;
  position: relative;
  margin-top: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(73, 72, 72, 0.5);
  border-radius: 1rem;
  padding: 1rem;
}
.img {
  object-fit: cover;
}
.image_wrapper {
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  aspect-ratio: 3/4;
  width: 100%;
}
.name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1rem;
  text-overflow: ellipsis;
}
.product_desc {
  text-align: center;
}
.grey {
  color: grey;
  font-weight: 400;
}
.star {
  margin: 5px 0;
}
.tara {
  color: red;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.heading {
  font-weight: 400;
}
.text_area {
  width: 100%;
  resize: none;
  padding: 8px;
  border: none;
  background-color: #edf2f5;
}
.text_area:focus {
  outline: none;
}
.reply {
  width: 100%;
  display: flex;
  justify-content: center;
}
.seller_reply {
  margin-left: 0.4rem;
  position: relative;
  color: grey;
}
.user_send_review {
  margin-left: 0.4rem;
  position: relative;
  color: #2457aa;
}

.cancelButton {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  margin-right: 0.4rem;
  cursor: pointer;
  background-color: aliceblue;
}
.cancelButton:hover {
  background-color: #7cb9e8;
}
.replyButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  margin-right: 0.4rem;
  cursor: pointer;
  background-color: aliceblue;
}
.replybutton:hover {
  background-color: #7cb9e8;
}

.submitButton {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  margin-right: 0.4rem;
  cursor: pointer;
  background-color: rgb(251, 235, 204);
}
.submitButton:hover {
  background-color: rgb(255, 208, 115);
}
.pencil_icon {
  position: absolute;
  color: black;
  cursor: pointer;
  right: 0;
}
.image_name_wrapper {
  width: 6rem;
}
.new {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 1px 2px;
  z-index: 3;
  background-color: red;
}
@media screen and (max-width: 660px) {
  .item {
    margin-left: 0;
    margin-right: 0;
  }
  .image_name_wrapper {
    width: 5rem;
  }
}
