.review {
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 12rem;
  border-radius: 0.4rem;
  padding: 1rem;
}

@media (max-width: 520px) {
  .review {
    margin-left: 0;
    font-size: 0.8rem;
  }
}
