.messageContainer{
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom:  1rem;
    margin-right:1rem ;
    margin-left: 12rem;
    border-radius: .4rem;
    padding: 1rem;
    background-color: #f1f3f6a0;
    background-color: #e9f9ff;
    height: 95vh;
    display: flex;
       
}

.allchat{
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    background-color: #f2f2f2;
    border-radius: .4rem;
    margin-right: .4rem;
    box-shadow: 0px 2px 2px 0px rgba(73, 72, 72, 0.5); 
}
.allchat::-webkit-scrollbar {
    width: 1px;
  }
  

.messagessendget{
    width: 80%;
    height: 100%;
    border-radius: .4rem;
    background-color: #fafafa;
    box-shadow: 0px 2px 2px 0px rgba(73, 72, 72, 0.5); 
    
}
.getmessage{
    height: 85%;
    padding: 2rem;
    overflow-y: scroll;
}



.getmessage::-webkit-scrollbar {
    width: 1px;
    
  }
  
.sendmessage{
    height: 15%;
    padding: 2rem;
    background-color:  #7cb9e8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.sendmessage input{
    width:80%;
    padding: 1rem;
    border: none;
}

.sendmessage button{
        padding: 1rem 2rem;
        cursor: pointer;
        background-color:#2457aa;
        color: white;
        font-size: 1rem;
}

.singlechat{
        padding: .3rem;
        background-color: #dedede;
        margin: 1rem;
        cursor: pointer;
        height: 5rem;
        border-radius: .5rem;
        display: flex;
        justify-content: space-between;
}
.img{
    height: 100%;

}
.productdetailcontainer{
    display: flex;
    height: 100%;
}
.productdetailcontainer div{
    margin-left: .4rem;
}

.userdetail{
    display: flex;
    align-items: flex-end;
}
.userdetail h6{
    font-size: .7rem;
}
.activeImage{
    padding: .3rem;
    background-color: #7cb9e8;
    margin: 1rem;
    cursor: pointer;
    height: 5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}
.notactiveImage{
    background-color: #dedede;
    padding: .3rem;
    margin: 1rem;
    cursor: pointer;
    height: 5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.getmessage{
    display: flex;
    flex-direction: column;

}

.sellerstyle{
    align-self: flex-end;

}
.userstyle{
    align-self: flex-start;
}
.text{
    background-color: #2457aa;
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    margin-bottom: .4rem;
}